# used for local development only
# ansible-galaxy installs in .ansible/collections
# symlink local collections repo to .ansible/local_collections for testing during development
export ANSIBLE_COLLECTIONS_PATH=.ansible/local_collections:.ansible/collections
