[defaults]
# use ./.ansible/collections for ansible-galaxy collections install
collections_path = ./.ansible/collections:./collections
# use ./.ansible/roles for ansible-galaxy roles install
roles_path = ./.ansible/roles:./roles
inventory = inventory
vars_plugins_enabled = host_group_vars,community.sops.sops
host_key_checking = False

# diables the interpreter python warning
interpreter_python = auto_silent

[community.sops]
# set specific suffixes for files that SOPS should try to decrypt
vars_extensions = .sops.yml
