[defaults]
collections_path = ./collections
roles_path = ./roles
inventory = inventory
vars_plugins_enabled = community.sops.sops_vars
host_key_checking = False

# diables the interpreter python warning
interpreter_python = auto_silent